<h3>Welcome</h3>
<p>The StarCraft franchise is a series of real-time strategy (RTS) computer games developed by Blizzard Entertainment.</p>

<p>It is similar to Blizzard's previous hit franchise, Warcraft, except that it has a space opera setting rather than a high fantasy setting. StarCraft was the best selling video game of 1998, and was so successful that Blizzard estimated in 2004 that 9.5 million copies had been sold since its release (4.5 million copies in South Korea), making it the third best-selling computer game in history.</p>

<p>StarCraft is praised for being a benchmark of RTS for its depth, intensity, and balanced races. The main storyline of the series revolves around a war between three galactic species: the protoss (a race of humanoid religious warriors), the zerg (vile insect-like aliens who share a hive mind) and the terrans (initially, descendants of human prisoners from Earth). The sequel, StarCraft II, is a trilogy with each "chapter" focusing on one of the three species.</p>
