<h3>{{capitalize model.name}}</h3>
<p>{{model.description}}</p>
<p>Race:
  {{#link-to 'race' model.race}}
    {{capitalize model.race.name}}
  {{/link-to}}
</p>
<p>Heroes:</p>
<ul>
  {{#each model.heroes as |hero|}}
    <li>
      {{#link-to 'heroes.hero' hero}}
        {{capitalize hero.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{#link-to 'planets'}}Back to all planets {{/link-to}}
