<h3>{{capitalize model.name}}</h3>
<p>{{model.description}}</p>
<p>Planet:
  {{#link-to 'planet' model.planet}}
    {{capitalize model.planet.name}}
  {{/link-to}}
</p>
<p>Heroes:</p>
<ul>
  {{#each model.heroes as |hero|}}
    <li>
      {{#link-to 'heroes.hero' hero}}
        {{capitalize hero.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{#link-to 'races'}}Back to all races {{/link-to}}
